body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.sidebar {
  width: 220px;
  height: 100%;
  background-color: #3e4246;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  align-items: center;
}

.logo {
  display: block;
  text-align: center;
  padding: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px
}

.logo h1 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 3px 15px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  font-weight: bold;
  margin-left: 5px;
}

.menu li a:hover{
  color: #e4ac20;
}

.menu li a.active {
  color: #e4ac20;
}

.menu li a i {
  margin-right: 10px;
}

.setting{
  margin-top: 129px;
}

.content {
  margin-left: 230px;
  margin-right: 10px;
  padding: 4px 20px 20px 20px ;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2{
  font-size: 30px;
  color: #3e4246;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #3e4246;
}

.user-info span {
  margin: 0;
  font-size: small;
  color: #3e4246;
}
